body {
  margin: 0;
  overflow-x: hidden;
}

/* Home Banner */

.home-banner{
  width: 100vw;
  height: 100vh;
  background: url('../asset/bg.svg') no-repeat center / cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-banner>aside:first-of-type{
  background: #E61D2A;
}

.home-banner>aside:last-of-type{
  background: #004883;
}

.coca-text{
  -webkit-text-fill-color: #E61D2A;
  text-shadow: 4px 4px #dadada;
}
.pepsi-text{
  -webkit-text-fill-color: #004883;
  /* -webkit-text-stroke-width: 1.5px; */
  /* -webkit-text-stroke-color: #222; */
  text-shadow: 4px 4px #dadada;
}


#title-card{
  background: white;
  text-align: center;
  width: 70%;
  margin-top: 7%;
  border: 2px solid #222;
  /* position: absolute; */
}

.title{
  font-family: 'Abril Fatface';
  font-size: clamp(2.5rem,1vw,4rem);
  font-weight: 400;
  margin: 0;
}

.sub-title{
  font-family: 'Abril Fatface';
  font-size: clamp(1.4rem,1vw,1.8rem);
  margin: 0;
}

.body-text{
  /* font-family: 'Abril Fatface'; */

  font-size: clamp(1rem, 1vw, 1.12rem);
  margin: 0;
  text-align: left;
  margin-top: 15px;
}

.body-text.home{
  text-align: center;
  color: #333;
  /* border: 1px solid #333; */
  margin: 10px 0 10px;
  padding: 0 10%;
}

.small-text{
  font-size: .9rem;
  /* font-weight: lighter; */
}

/* clamp(1.8rem,3vw,4rem) */
/* clamp(1.3rem,3vw,2rem) */
/* clamp(.8rem,3vw,1.3rem) */

#home-title{
  margin: 0;
  color: #222;
}


.cta-group{
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  column-gap: 5%;
  justify-content: center;
  margin-top: 30px;
  width: 70vw;
}

.arrow-down{
  mask: url('../asset/arrow.svg') no-repeat center / contain;
  -webkit-mask: url('../asset/arrow.svg') no-repeat center / contain;
  background: #fff;
  transform: rotate(90deg);
  height: 15px;
  width:clamp(1.4rem,1vw,1.8rem);
  margin-right: 10px;
  margin-top: 3px;
}
.test-down{
  mask: url('../asset/test.svg') no-repeat center / contain;
  -webkit-mask: url('../asset/test.svg') no-repeat center / contain;
  background: #fff;
  height: 20px;
  width:clamp(1.4rem,1vw,1.8rem);
  margin-right: 10px;
  margin-top: 0px;
}



/* RWD */

@media (max-width: 900px) {
  #title-card{
    margin-top: 2.5%;
    width: 90%;
  }
  .cta-group{
    display: flex;
    flex-direction: column;
  }
  .css-1d1xi9w-MuiButtonBase-root-MuiButton-root:last-of-type{
    margin-top: 20px !important;
  }
}

@media (max-height: 600px){
  .small-text{
    font-size: clamp(.5rem, 1vw, .8rem);
  }
}

@media(max-width: 400px){
  .small-text{
    font-size: clamp(.65rem, 1vw, .9rem);
  }
}


@media (min-width: 1200px) {
  /* .body-text{
    font-size: clamp(.9rem, 2vw,1.2rem);
  }
  .small-text{
    font-size: clamp(.75rem, 2vw, 1rem);
  } */
}

@media (min-width: 1600px) {
  #title-card{
    margin-top: 7% !important;
    width: 60%;
    padding: 20px 30px;
  }
  .body-text{
    font-size: clamp(1rem, 2vw,1.5rem);
  }
  .small-text{
    font-size: clamp(.9rem, 2vw, 1.1rem);
  }
  .body-text.home{
    padding: 0 7%;
  }
  .cta-btn{
    width: 30%;
  }
  .cta-group{
    height: 65px;
    margin-top: 60px;
  }
}