/* Quiz Section */
#quiz-container {
    width: 100vw;
    height: 100vh;
    background: url('../asset/quiz-bg.svg') no-repeat center / cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#quiz-title-card{
    background: white;
    text-align: center;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 2px solid #222;
    /* position: absolute; */
}
#quiz-title{
    font-family: 'Abril Fatface';
    /* font-family: 'Rubik Dirt'; */
    font-weight:300;
    margin: 0;
    color: #222;
    font-size: clamp(1.8rem,3.2vw,4rem);
}
.quiz-card{
    /* font-family: 'Abril Fatface'; */
    background: white;
    text-align: center;
    width: 60%;
    /* height: 60vh; */
    margin-top: 2%;
    margin-bottom: 2%;
    border: 2px solid #222;
    border-radius: 5px;
    /* position: absolute; */
}
.quiz-sub-title{
    font-family: 'Abril Fatface';
    font-size: clamp(1.5rem,3vw,2.4rem);
    font-weight:300;
    margin: 0;
}
.body-text.result{
    margin-top: 5px;
    color: darkgreen;
    font-weight: bold;
}
.quiz-body-text{
    display: inline-block;
    width: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: clamp(.8rem,3vw,1.3rem);
}
.quiz-body-text.init{
    width: 80%;
    margin-top: 2%;
    margin-bottom: 3%;
}
.card-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid #333; */
    height: 100%;
    align-items: center;
}

.answer-group{
    display: flex;
    flex-direction: column;
    width: 40%;
    row-gap: 10px;
}


button, button:disabled{
    transition:none;
}

.ans-btn.true{
    cursor:grab !important;
}

.ansResult{
    color: #fff;
    border-radius: 4px;
}
.ansResult.correct{
    color:darkgreen;
    font-weight: bold;
}
.correct-ans{
    background: aquamarine !important;
}
.incorrect-ans{
    background: crimson !important;
    color: #fff !important;
}
.ansResult.incorrect{
    color: crimson;
    font-weight: bold;
}
.feedbackSection{
    height: 30px;
    width: 80%;
    padding: 2px 12px 0 12px;
    margin-bottom: 10px;
    /* background: #ddd; */
}

.link-group{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* width: 30vw; */
}

.final-result{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quiz-content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media(max-width: 675px){
    .feedbackSection{
        margin-bottom: 40px;
    }
    .answer-group{
        width: 80%;
    }
}

@media (max-height: 600px){
    .answer-group{
        flex-direction: row;
        width: 100%;
        column-gap: 10px;
        align-items: center;
        justify-content: center;
    }
    .quiz-body-text{
        margin: 0;
        font-size: clamp(.4rem,3vw,1rem);
    }
    .next-q-btn{
        margin-top: 10px !important;
    }
    .feedbackSection{
        margin-bottom: 30px;
    }
    button{
        font-size: clamp(.8rem,1vw,1rem) !important;
        font-weight: bold !important;
        padding: 2px 10px !important;
    }
}

@media (min-width: 1600px){
    #quiz-title-card{
        width: 60% !important;
    }
    .quiz-card{
        width: 60% !important;
    }
}


/* clamp(1.8rem,3vw,4rem) */
/* clamp(1.3rem,3vw,2rem) */
/* clamp(.8rem,3vw,1.3rem) */